// --------------------------------------------------------
// global variables should start with --global
// ---------------------------------------------------

:root {
  --global-max-width: var(--large-lowest);
  --global-padding: 20px;
  --global-text-color: var(--color-black);
}
