// --------------------------------------------------------
// global variables should start with --global
// ---------------------------------------------------

:root {
  --global-max-width: 1280px; // $large-lowest
  --global-padding: 20px;
  --global-text-color: var(--color-black);
}
