// --------------------------------------------------------
// media variables should match
// @custom-media in /styles/global/mixins/custom-media.scss
// ---------------------------------------------------

:root {
  --smallest: 0;
  --x-small-lowest: 360px;
  --x-small-lowest-down: 359px;
  --x-small: 400px;
  --x-small-down: 399px;
  --x-small-highest: 480px;
  --x-small-highest-down: 479px;
  --small-lowest: 600px;
  --small-lowest-down: 599px;
  --small: 720px;
  --small-down: 719px;
  --small-highest: 840px;
  --small-highest-down: 839px;
  --medium-lowest: 960px;
  --medium-lowest-down: 959px;
  --medium: 1040px;
  --medium-down: 1039px;
  --medium-highest: 1140px;
  --medium-highest-down: 1139px;
  --large-lowest: 1280px;
  --large-lowest-down: 1279px;
  --large: 1440px;
  --large-down: 1439px;
  --large-highest: 1600px;
  --large-highest-down: 1599px;
  --x-large-lowest: 1920px;
  --x-large-lowest-down: 1919px;
  --x-large: 2560px;
  --x-large-down: 2559px;
  --x-large-highest: 3360px;
  --x-large-highest-down: 3359px;
}
