// ---------------------------------------------------------

.grid {
  display: grid;
}

// ---------------------------------------------------------

.layout_is_one_half {
  @media (--small) {
    grid-template-columns: 1fr 1fr;
  }
}

.layout_is_one_third {
  @media (--small) {
    grid-template-columns: 1fr 1fr;
  }

  @media (--medium-lowest) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.layout_is_one_fourth {
  @media (--small) {
    grid-template-columns: 1fr 1fr;
  }

  @media (--medium-lowest) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// ---------------------------------------------------------

$gap-options: '0', '20';

@each $gap in $gap-options {
  .gap_#{$gap} {
    gap: #{$gap}px;
  }
}
