// --------------------------------------------------------

.container {
  display: grid;

  &.has_background_image {
    > * {
      grid-column-start: 1;
      grid-row-start: 1;
      position: relative;
    }
  }
}

// ---------------------------------------------------------

.container_content {
  display: flex;
}

// ---------------------------------------------------------

.text_alignment_center {
  text-align: center;
}

.text_alignment_right {
  text-align: right;
}

// ---------------------------------------------------------

.width_fluid,
.width_fixed {
  @include container;
}

.width_fixed {
  max-width: 600px;
}
