// --------------------------------------------------------

.container {
  // --
}

// ---------------------------------------------------------

.container_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

// ---------------------------------------------------------

.text_alignment_center {
  text-align: center;
}

.text_alignment_right {
  text-align: right;
}

// ---------------------------------------------------------

.width_fluid {
  @include container;
}

.width_fixed {
  @include container;

  max-width: 600px;
}
