// ---------------------------------------------------------

.section_for_demo {
  // --
}

// ---------------------------------------------------------

.theme_default {
  background-color: var(--color-blueprint-light);
  color: var(--color-blueprint);

  header {
    color: var(--color-black);

    p {
      @include font-size(16px, 22px);

      margin-bottom: rfs(40px);
    }
  }
}

.theme_withoutHeader {
  background-color: var(--color-blueprint-bright);
  color: var(--color-white);
}
