// ---------------------------------------------------------

.jumbotron {
  display: grid;
  height: 100vh;
  overflow: hidden;

  @include media($small) {
    max-height: 800px;
  }

  > * {
    grid-column-start: 1;
    grid-row-start: 1;
    position: relative;
  }
}

// ---------------------------------------------------------

.jumbotron_content {
  color: var(--color-white);
  padding: 40px;

  p {
    @include font-size(16px, 24px);
  }
}
