// ---------------------------------------------------------

.jumbotron {
  display: grid;
  overflow: hidden;

  > * {
    grid-column-start: 1;
    grid-row-start: 1;
    position: relative;
  }
}

// ---------------------------------------------------------

.jumbotron_content {
  @include container;

  min-height: 400px;
  padding: 40px;
  width: 100%;

  p {
    @include font-size(16px, 24px);
  }
}
