// --------------------------------------------------------
// remove padding to ensure components are edge to edge when using viewport mode

.sb-show-main {
  padding: 0 !important;
}

// --------------------------------------------------------
// extend storybook docs content area

.sbdocs-content {
  max-width: $x-large-highest !important;
}

// --------------------------------------------------------
// remove the padding and set max-width on all canvas layouts that are set to 'centered'

.sb-show-main.sb-main-centered #root {
  max-width: var(--global-max-width) !important;
  padding: 0 !important;
}

// --------------------------------------------------------
// override global styles from the project that are interfering with storybook

h1.sbdocs-title,
h1.sbdocs-h1,
h2.sbdocs-h2 {
  letter-spacing: normal !important;
}

h1.sbdocs-h1,
h2.sbdocs-h2 {
  margin-bottom: 30px !important;
}

// --------------------------------------------------------
// make font sizing consistent in argstable

.docblock-argstable-body p,
.rejt-object-node,
.rejt-not-collapsed-list {
  font-size: 13px;
}

// --------------------------------------------------------
// remove storybook upgrade notification from UI

[href='/?path=/settings/about'] {
  display: none !important;
}

// --------------------------------------------------------
// center story in canvas tab

.sb-centered {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

  > div {
    width: 100vw;
  }
}

.sbdocs .sb-centered {
  height: auto;
}

// --------------------------------------------------------
// remove border from showing up in docs

.sbdocs.sbdocs-preview {
  .docs-story {
    // stylelint-disable-next-line
    .innerZoomElementWrapper {
      > div {
        border: 0 !important;
        padding: 0 10px;
      }
    }
  }
}

// --------------------------------------------------------
// adjustments storybook docs in firefox

#docs-root .docs-story > div:first-child > div:first-child {
  height: auto !important;
}
